header.header.bg-secondary
  .container
    nav.navbar
      a(href="/" class="navbar-brand text-warning") Home
      ul.navbar-nav.ml-lg-auto
        li.nav-item
          a(href="/form-add" class="nav-link text-warning") Add user