header.header.bg-secondary
  .container
    nav.navbar.navbar-expand-lg
      a(href="/" class="navbar-brand text-warning") Home
      button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar")
      div(div class="collapse navbar-collapse" id="navbar")
        ul.navbar-nav.ml-lg-auto
          li.nav-item
            a(href="form-add" class="nav-link text-warning") Add user