form(action="/login" method="POST")
  .form-group
    label(for="name") Name
    input(type="text" id="name" name="name" class="form-control")
  .form-group
    label(for="email") Email
    input(type="email" id="email" name="email" class="form-control")
  .form-group
    label(for="password") Password
    input(type="password" id="password" name="password" class="form-control")
  .form-group
    label(for="password2") Repeat password
    input(type="password2" id="password2" name="password2" class="form-control")
  .form-group
    button(type="submit" class="btn btn-warning") Register
  .form-group
    p.small Have already an  account?
      a(href="/login") Login here