section
  .container
    table.table.table-striped
      thead
        tr
          th #
          th Name
          th Surname
          th Age
          th City
          th Position
          th Cluster
      tbody
        tr
          //- each object in data.cities
          //-   td
          td 1
          td Jon
          td Snow
          td 34
          td New York City
          td Front-End developer
          td 3
        tr
          td 2
          td Jon
          td Snow
          td 22
          td New York City
          td Back-End developer
          td 3