table.table.table-striped
  thead
    tr
      th #
      th Name
      th Surname
      th Age
      th City
      th Position
      th Cluster
  tbody
    each row, indexRow in data
      tr
        td= indexRow+1

        each userInfo, field in row
          if (field === 'id')
            continue
          else if (field === 'name')
            td
              a(href="users/"+row['id'])= userInfo
          else
            td= userInfo