extends layout

block content
  //- include header
  include includes/header.pug
  section.search-section.py-4
    .container
      .row.justify-content-center
        .col-md-6.col-lg-5.mb-4
          if(messageError)
            h4= messageError
          //- include search form
          include includes/search-form.pug 
        if(request && data.length)
          .col-md-6.col-lg-5.mb-4
            //- include request card
            include includes/request-card.pug 
        if(data && data.length > 0)
          .col-lg-10
            .card.card-body.bg-light
              h1.h3 Result table
              //- include result table
              include includes/result-section.pug
        

            