extends layout

block content
  include includes/header.pug

  section.search-section.py-4
    .container
      .row.justify-content-center
        .col-md-6.col-lg-5.mb-4
          if empyFields.length
            .alert.alert-danger
              p.mb-0 This fields is required: #{empyFields}
          if complete.length
            .alert.alert-success
              p.mb-0= complete
          //- include edit-form
          include includes/edit-form.pug