extends layout

block content
  include includes/header.pug
  section.search-section.py-4
    .container
      .row.justify-content-md-center
        .con-md-10.col-lg-6
          .card
            form.main-form(method="POST" action="/user" class="bg-light card-body")
              h1.h3 Add user
              .form-group
                input(type="text" name="name" placeholder="Name" class="form-control")
              .form-group
                input(type="text" name="surname" placeholder="Name" class="form-control")
              .form-group
                input(type="text" name="age" placeholder="Age" class="form-control")
              .form-group
                select(class="form-control" name="city")
                  option(value="Kharkiv") Kharkiv
                  option(value="Odessa") Odessa
              .form-group
                select(class="form-control" name="position")
                  option(value="Fron-End") Fron-End
                  option(value="Back-End") Back-End
                  option(value="PM") PM
                  option(value="QA") QA
              .form-group
                select(class="form-control" name="cluster")
                  option(value="1") 1
                  option(value="2") 2
                  option(value="3") 3              

              button(type="submit" class="btn btn-warning w-100") Add